html *
{
	font-family: Calibri;
}
body
{
	margin: 0px;
}
h1, h2, h3, h4
{
	margin: 0px;
	font-family: Garamond;
}
img
{
	height: 500px; 
	padding: 10px;
}
.banner
{
	text-align: center; 
	background-image: url(./images/NewYorkSmall/DSC_4242.jpg);
	background-color: #aaa; 
	background-position: 50% 45%;
	background-size: cover;
	margin-bottom: 30px;
}
.background_gradient
{
	background-image: linear-gradient(transparent, rgba(255,255,255,0.3));
	padding: 50px;
}
.banner_text_background
{
	background-color: rgba(255,255,255,0.6);
	padding: 20px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
p.banner_text 
{
	font-size: 1.1em;
}
.navigation
{
	padding: 0px 30px;
	text-align: center;
}
.navigation_container
{
	border-style: solid none solid none;
	border-color: #888;
	border-width: 1px;
	margin: 10px 0px;
}
.navigation_container a
{
	display: inline-block;
	width: 33.33%;
	font-size: 1.2em;
	color: #333;
	text-decoration: none !important;
	padding: 20px 0px;
}
.navigation_container a:hover
{
	background-color: #fed;
}
.navigation_center
{
	display: inline-block;
	border-style: none solid;
	border-color: #888;
	border-width: 1px;
	box-sizing: border-box;
}
.projects_list
{
	padding: 10px; 
	text-align: left; 
	max-width: 900px; 
	margin-left: auto; 
	margin-right: auto;
}
.projects_list h2.topic
{
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
	padding-bottom: 3px;
	margin-bottom: 15px;
	margin-top: 20px;
	font-family: Calibri, Sans Serif;
	font-weight: 400;

}
.project_container
{
	padding: 5px 0px;
}
.project_container p
{
	color: #222;
	font-size: 1.1em;
}
.project_title
{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 5px;
}
.project_subtitle
{
	text-align: center;
	display: block;
	font-size: 1.1em;
	color: #333;
}
.side_scroller
{
	overflow-x: scroll;
}
.side_scroller_content
{
	display: flex; 
	margin: 0px -10px;
}
.project_desc_wrapper
{
	display: flow-root;
	background-color: #eee;
	padding: 0em 1em;
	margin: 10px;
}
.project_list_footer
{
	margin: 30px 0px;
}
.project_list_footer span
{
	display: block;
	text-align: center;
	font-size: 1.2em;
	color: #333;
	padding: 10px 0px;
}
.code {
	padding: 2px;
	border-radius: 2px;
	background: #fefefe;
}